@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    /* This is the light blue */
    --primary: 202 69% 55%;
    --primary-foreground: 202 69% 10%;

    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14% 10%;

    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    
    /* This is the orange for CTAs */
    --accent: 39 100% 50%;
    --accent-foreground: 39 100% 10%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 39 100% 50%;

    --radius: 0.8rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 48 96% 53%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 48 96% 53%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 48 96% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
